<div class="container">
    <div class="card">
        <div class="row" style="display:flex;flex-direction: row;align-items: center;">
            <div class="section-b col-md-3">
                <input class="input m-3" (keyup)="applyFilter($event.target.value)" type="text" name="Search" placeholder="Search...">
            </div>
            <div class="col-md-6" style="display:flex ;justify-content:flex-start;gap:10px">
                <form style="display: flex;gap:15px">
                    <mat-form-field appearance="outline">
                        <mat-label>Category</mat-label>
                        <mat-select multiple  [(value)]="selectedValue" (selectionChange)="applyTypeFilter()">
                            <mat-option *ngFor="let row of catagoryList" [value]="row" >{{row}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Formulation</mat-label>
                        <mat-select multiple  [(value)]="selectedColourValue" (selectionChange)="applyTypeFilter()">
                            <mat-option *ngFor="let row of colorList" [value]="row" >{{row}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline">
                        <mat-label>In Stock</mat-label>
                        <mat-select multiple  [(value)]="selectedStockValue" (selectionChange)="applyTypeFilter()">
                            <mat-option *ngFor="let row of inStock" [value]="row" >{{row}}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </form>
            </div>

            <div class="add-coupon col-md-3">
                <a routerLink="/inventory/add">+&nbsp;{{'Add new product' | uppercase}}</a>
            </div>

        </div>

    </div>
    <div class="card">
        <div class="table-container">
        <table class="table" mat-table matSort [dataSource]="filteredData?.length? filteredData:dataSource">
            <ng-container matColumnDef="id">
                <th class="first" mat-header-cell *matHeaderCellDef>
                    <span>ID</span>

                </th>
                <td mat-cell *matCellDef="let request">{{request._id}}</td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>
                    <span>Category</span>

                </th>
                <td mat-cell *matCellDef="let request">{{request.category.join(', ')}}</td>
            </ng-container>

            <ng-container matColumnDef="Formulation">
                <th mat-header-cell *matHeaderCellDef>
                    <span>Formulation</span>
                </th>
                <td mat-cell *matCellDef="let request">{{request.formulation.join(', ')}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    <span>Name</span>

                </th>
                <td mat-cell *matCellDef="let request">{{request?.productName}}</td>
            </ng-container>
            <ng-container matColumnDef="in_stock">
                <th mat-header-cell *matHeaderCellDef>
                    <span>Quantity</span>

                </th>
                <td mat-cell *matCellDef="let request">{{request.quantity}}</td>
            </ng-container>
          
            <ng-container matColumnDef="action">
                <th class="last" mat-header-cell *matHeaderCellDef>
                    <span>Action</span>
                </th>
                <td mat-cell *matCellDef="let request">
                    <div class="displayicon">
                        <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="Edit" (click)="edit('edit',request._id)">edit</mat-icon>
                        <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="Delete" (click)="delete(request._id)">delete</mat-icon>
                        <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="View" (click)="edit('view',request._id)">visibility</mat-icon>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>

        </table>
        <div class="spinner-container" *ngIf="!dataSource.data?.length  && !noData">
            <mat-spinner  [diameter]="50" ></mat-spinner>
        </div>
        <div class="no_data" *ngIf="!dataSource.data?.length  && noData">
            <p>{{'No data available'}}</p>
         </div>
        </div>
    </div>
</div>