<!-- <div class="login-container">
    <div class="login-image">
      <img src="assets/1.png" width="150" height="120"
        alt="Random Image" />
    </div>
    <div class="login-form">
      <h2>Welcome back!</h2>
      <form [formGroup]="form">
        <div class="section-b col-md-12">
          <mat-label>Email <span class="required">*</span></mat-label>
          <input class="input" type="email" name="email" matInput formControlName="email" maxlength="50" required>
          <mat-error *ngIf="submitted && form.get('email')?.errors?.required">
            {{'Email is required'}}</mat-error>
        </div>
        <div class="section-b col-md-12">
          <mat-label>Password <span class="required">*</span></mat-label>
          <input class="input" type="password" name="password" matInput formControlName="password" maxlength="50"
            required>
          <mat-error *ngIf="submitted && form.get('password')?.errors?.required">
            {{'Password is required'}}</mat-error>
        </div>
        <div class="disflex">
          <button mat-flat-button color="primary" type="submit" (click)="login()">{{'Login' |
            uppercase}}</button>
        </div>
      </form>
    </div>
  </div> -->
<div class="login-container">
  <div class="left-column">
    <!-- Left column content (image and content in the middle) -->
    <div class="left-content">
      <div style="display: flex;gap: 28rem;">
        <img style="display: flex;" src="assets/1.png" width="150" height="120" alt="Random Image" />
        <mat-icon style="color: rgb(199 180 2 / 95%);" class="rotate">check_box_outline_blank</mat-icon>
      </div>
      <div style="position: relative;left: 5rem;">
        <h2>The Easiest way to manage</h2>
        <h2>your online store.</h2>
        <p style="margin: 10px 0px 10px 0px;">
          <span>
            <!-- <p style="margin: 0;">Bocxy is comprehensive salon management software designed</p>
            <p>to steamline and automate your salon.</p> -->
          </span>
        </p>
        <div style="display: flex;width: 100%;gap: 15rem;">
          <div>
            <p><mat-icon class="taskIco">task_alt</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manage store
              inventory.
            </p>
            <p><mat-icon class="taskIco">task_alt</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Receive online
              orders.</p>
            <p><mat-icon class="taskIco">task_alt</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manage online
              orders.</p>
            <p><mat-icon class="taskIco">task_alt</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View analytics.
            </p>
            <p><mat-icon class="taskIco">task_alt</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With more advanced
              features.</p>
          </div>
          <div style="display: flex;flex-direction: column;gap: 10rem;">
            <!-- <mat-icon>star_rate</mat-icon> -->
            <mat-icon style="color: red;" class="rotate">change_history</mat-icon>
            <mat-icon style="color: rgb(0, 198, 213);" class="rotate material-icons-outlined">circle</mat-icon>
          </div>
        </div>
      </div>

      <div style="display: flex;gap:30rem;margin-top: 3rem;">
        <div class="blob"></div>
        <div style="margin-top: 15px;">
          <mat-icon style="color: rgb(0, 190, 7);" class="rotate material-icons-outlined">star_rate</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="right-column">
    <div class="login-form">
      <h2 class="logHead">Login into your account</h2>
      <form [formGroup]="form">
        <div class="section-b col-md-12">
          <mat-label>Email <span class="required">*</span></mat-label>
          <input class="input" type="email" name="email" matInput formControlName="email" maxlength="50" required>
          <mat-error *ngIf="submitted && form.get('email')?.errors?.required">
            {{'Email is required'}}</mat-error>
            <mat-error *ngIf="submitted && form.get('email')?.errors?.pattern">
              {{'Email is Invalid'}}</mat-error>
  
        </div>
        <div class="section-b col-md-12">
          <mat-label>Password <span class="required">*</span></mat-label>
          <input class="input" [type]="hide ? 'password' : 'text'" name="password" matInput formControlName="password"
            maxlength="50" required>
          <mat-icon [class]="( submitted && form.get('password')?.errors?.required || (!minLengthValid && !requiresDigitValid && !requiresUppercaseValid && !requiresLowercaseValid  &&
            !requiresSpecialCharsValid)) ? 'pass1' :'pass'" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off'
            : 'visibility'}}</mat-icon>
          <mat-error *ngIf="submitted && form.get('password')?.errors?.required">
            {{'Password is required'}}</mat-error>

        </div>
        <div id="validation-rules" class="mt-3" style="position: relative;left: 2rem;font-variant: small-caps;margin-bottom: 1rem;"
          *ngIf="requiredValid">
          <div [ngClass]="{ 'text-success': minLengthValid, 'text-danger': !minLengthValid }">
            <i [attr.class]="minLengthValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
            Must be at least 5 characters long
          </div>

          <div [ngClass]="{ 'text-success': requiresDigitValid, 'text-danger': !requiresDigitValid }">
            <i [attr.class]="requiresDigitValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
            Must contain at least 1 digit
          </div>

          <div [ngClass]="{ 'text-success': requiresUppercaseValid, 'text-danger': !requiresUppercaseValid }">
            <i [attr.class]="requiresUppercaseValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
            Must contain at least 1 uppercase character
          </div>

          <div [ngClass]="{ 'text-success': requiresLowercaseValid, 'text-danger': !requiresLowercaseValid }">
            <i [attr.class]="requiresLowercaseValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
            Must contain at least 1 lowercase character
          </div>

          <div [ngClass]="{ 'text-success': requiresSpecialCharsValid, 'text-danger': !requiresSpecialCharsValid }">
            <i [attr.class]="requiresSpecialCharsValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
            Must contain at least 1 special character
          </div>
        </div>
        <div class="disflex">
          <button class="disBut" mat-flat-button color="primary" type="submit" (click)="login()">{{'Login' |
            uppercase}}</button>
        </div>
      </form>
    </div>

  </div>
</div>