<div class="container">
    <div class="card-title">
        <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;<h2>{{'Coupons'| uppercase}} - Add {{'Coupon'| uppercase}}</h2> -->
        <i class="fa fa-arrow-left" style="font-size:20px;cursor: pointer;" routerLink="/coupon/list"></i>&nbsp;&nbsp;
        <h2 style="padding:0px !important ;margin:0px !important;font-weight: 600">{{'Coupons'| uppercase}} - Add
            {{'Coupon'| uppercase}}</h2>
    </div>
    <div class="card">
        <form [formGroup]="form">
            <div class="row">
                <div class="section-b col-md-12">
                    <mat-label>Created For <span class="required">*</span></mat-label>
                    <input class="input" type="text" name="Search" matInput formControlName="createdFor" maxlength="50"
                        required>
                    <mat-hint class="hintalign">{{form.get('createdFor').value?.length || 0}}/50
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('createdFor')?.errors?.required">{{'CreatedFor is
                        required'}}</mat-error>
                </div>
                <div class="section-b col-md-12">
                    <mat-label>Coupon Name <span class="required">*</span></mat-label>
                    <input class="input" type="text" name="Search" matInput formControlName="couponName" maxlength="50">
                    <mat-hint class="hintalign">{{form.get('couponName').value?.length || 0}}/50
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('couponName')?.errors?.required">{{'Coupon Name is
                        required'}}</mat-error>
                </div>
                <div class="section-b col-md-12">
                    <mat-label>Description <span class="required">*</span></mat-label>
                    <input class="input" type="text" name="Search" matInput formControlName="description"
                        maxlength="500">
                    <mat-hint class="hintalign">{{form.get('description').value?.length || 0}}/500
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('description')?.errors?.required">{{'Description is
                        required'}}</mat-error>
                </div>
            </div>
            <div class="row">
                <div class="section-b col">
                    <mat-label>Discount Percentage <span class="required">*</span></mat-label>
                    <input class="input" type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        name="Search" matInput formControlName="discountPercentage" maxlength="50">
                    <mat-hint class="hintalign">{{form.get('discountPercentage').value?.length || 0}}/50
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('discountPercentage')?.errors?.required">{{'Discount is
                        required'}}</mat-error>
                </div>
                <div class="section-b col">
                    <mat-label>Type <span class="required">*</span></mat-label>
                    <mat-select formControlName="type" multiple>
                        <mat-option *ngFor="let row of types" [value]="row">{{row}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && form.get('type')?.errors?.required">{{'Type is required'}}
                    </mat-error>
                </div>
                <div class="section-b col">
                    <mat-label>Total Quantity <span class="required">*</span></mat-label>
                    <input class="input" oninput="this.value=this.value.replace(/[^0-9]/g,'');" type="text"
                        name="Search" matInput formControlName="totalQuantity" maxlength="50">
                    <mat-hint class="hintalign">{{form.get('totalQuantity').value?.length || 0}}/50
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('totalQuantity')?.errors?.required">{{'Total Quantity is
                        required'}}</mat-error>
                </div>
            </div>
            <div class="row" *ngIf="!edit && !view">
                <div class="section-b col">
                    <mat-label >Limit <span class="required">*</span></mat-label>
                    <input class="input" oninput="this.value=this.value.replace(/[^0-9]/g,'');" type="text"
                        name="Search" matInput formControlName="limit" maxlength="50">
                    <mat-hint class="hintalign">{{form.get('limit').value?.length || 0}}/50
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('limit')?.errors?.required">{{'Limit is
                        required'}}</mat-error>
                </div>
                <div class="section-b col">
                    <mat-label for="date">Valid Date <span class="required">*</span></mat-label>
                    <input class="input" type="date" id="validDateTill" name="validDateTill" matInput
                        formControlName="validDateTill">
                    <mat-error *ngIf="submitted && form.get('validDateTill')?.errors?.required">{{'Valid date is
                        required'}}</mat-error>
                </div>
            </div>
            
            <div class="disflex" *ngIf="!view">
                <button mat-flat-button color="warn" (click)="discard()">{{'Discard' | uppercase}}</button>
                <button mat-flat-button color="primary" type="submit" (click)="saveCoupons()" *ngIf="!edit">{{'Save' |
                    uppercase}}</button>
                <button mat-flat-button color="primary" type="submit" (click)="saveCoupons()" *ngIf="edit">{{'Update' |
                    uppercase}}</button>
            </div>
        </form>
    </div>
</div>