<div class="order">
    <div class="back-arrow" routerLink="/dashboard/inventory">
        <i class="fa fa-arrow-left" aria-hidden="true">
            Go Back
        </i>
    </div>
    <h1 class="title-inventory">Order Management
        <i class="fa fa-download" aria-hidden="true" (click)="exportexcel()">&nbsp;Export to Excel</i>
    </h1>

    <div class="container">
        <div class="row d-flex justify-content-center" >
            <div class="d-flex justify-content-center ml-5" >
            <div class="card-order">
                <div class="col">
                    <mat-card  >
                        <mat-card-content id="c-1" >
                            <h3> New Orders </h3>
                            <h3>{{orderStatusPending}} | impression -10 %
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="order-card">
                <div class="col">
                    <mat-card>
                        <mat-card-content id="c-2">
                            <h3> Dispatch Orders </h3>
                            <h3>{{orderStatusDispatch}} | impression -15 %
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="order-card1">
                <div class="col">
                    <mat-card>
                        <mat-card-content id="c-3">
                            <h3> Delivered Orders </h3>
                            <h3>{{orderStatusdelivery}} | impression -16 %
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
    <div class="search-box-card ml-n4" >
        <mat-card class="p-2" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;" >
            <!-- <mat-card-content>Simple card</mat-card-content> -->
            <div class="section-b ">
                <input class="input p-3" type="text"  name="Search" placeholder="&#61442; Search" [(ngModel)]="orderSearchValue"style="font-family:Arial, FontAwesome">
              </div> 
              <div class="dropdown-select">
              <mat-form-field appearance="fill">
                <mat-label>Select an option</mat-label>
                <mat-select disableRipple (selectionChange)="orderStatusFilter($event)" >
                  <mat-option *ngFor="let row of orderStatusList" [value]="row">{{row}}</mat-option>
                  <!-- <mat-option *ngFor="let row of orderStatusList" [value]="row">{{row}}</mat-option>
                  <mat-option *ngFor="let row of orderStatusList" [value]="row">{{row}}</mat-option> -->
                </mat-select>
              </mat-form-field>
            </div> 
            <!-- <div class="dropdown-select">
                <mat-form-field appearance="fill">
                  <mat-label>Select an option</mat-label>
                  <mat-select disableRipple>
                    <mat-option value="1">Cash On Delivery</mat-option>
                    <mat-option value="2">Cash</mat-option>
                    <mat-option value="3">RazorPay</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>  -->
            </mat-card>
</div>
</div>
   
          <!-- <table class="customs-fixed-tables  table" id="excel-table-id">
            <thead>
                <tr>
                    <th scope="col">
                        <img src="assets\check_box.svg" /> ORDER ID
                    </th>

                    <th scope="col">
                        <img src="assets\check_box.svg" /> GIFT WRAP 
                    </th>
                    <th scope="col">
                        <img src="assets\group.svg" /> CUSTOMER DETAILS
                    </th>
                    <th scope="col">
                        <img src="assets\inventory.svg" /> ORDER DETAILS
                    </th>
                    <th scope="col">
                        <img src="assets\task_alt.svg" /> ORDER STATUS
                    </th>
                </tr>
            </thead>
            <ng-container *ngFor="let row of orderList  | orderSearch:orderSearchValue ; let i=index " >
                <tbody>
                    <tr>
                        <th>
                            {{row._id}}
                        </th>
                        <th>
                            {{row.giftWrap}}
                        </th>
                        <th>
                            {{row.customerName}}<br>
                            {{row.customerEmailId}}<br>
                            {{row.customerAddress.doorNoAndStreet}} <br>
                            {{row.customerAddress.city}}
                            {{row.customerAddress.state}}
                            {{row.customerAddress.pincode}}
                            {{row.customerAddress.landmark}}
                            {{row.customerAddress.country}}<br>
                            {{row.customerPhoneNumber}}
                        </th>
                       
                        <th>
                         <div *ngFor="let list of row.orders let i=index " class="mb-3">
                            {{list.productId.productName}}<br>
                            {{list.productId.category.join(', ')}}<br>
                            {{list.productId.colour.join(', ')}}<br>
                            {{list.quantity}}<br>
                            {{list.productId.actualPrice}}<br>
                         </div>
                        </th>
                        <th > -->
                        <!-- <div class="btn-group"> -->
                            <!-- (click)="updateOrderStatus(row,'dispatched')" (click)="updateOrderStatus(row,'pending')" -->
                            <!-- <button mat-flat-button class="m-1" color="primary" style="display: block;" *ngIf="row.orderStatus == 'pending'">Pending</button>
                            <button mat-flat-button class="m-1" color="accent" style="display: block;"  (click)='openDialogOrderStatus(row)' >Dispatched</button>
                            <button mat-flat-button class="m-1" color="warn" style="display: block;" *ngIf="row.orderStatus == 'dispatch'" (click)="updateOrderStatus(row ,'delivered')"  >Delivered</button> -->
                      <!-- <button [style.background-color]="'red'" [style.color]="'white'"  >Pending</button> -->
                        <!-- <button [style.background-color]="'yellow'" [style.color]="'white'" style="display: block;" (click)='openDialogOrderStatus(row)'>Dispatched</button> -->
                        <!-- <button [style.background-color]="'green'" [style.color]="'white'"  style="display: block;"(click)="updateOrderStatus(row ,'delivered')">Delivered</button> -->
                    <!-- </div>
                        </th>
                    </tr>
                </tbody>
            </ng-container>
    
        </table> -->




        <div class="card">
              <table mat-table matSort [dataSource]="dataSource " id="excel-table-id" >
                  <ng-container matColumnDef="ID" >
                      <th class="first" mat-header-cell *matHeaderCellDef>
                          <span class="pl-1">ID</span>
        
                      </th>
                      <td mat-cell *matCellDef="let request">{{request._id}}</td>
                  </ng-container>
        
                  <ng-container matColumnDef="giftWrap">
                      <th mat-header-cell *matHeaderCellDef>
                          <span>GIFTWRAP</span>
        
                      </th>
                      <td mat-cell *matCellDef="let request">{{request.giftWrap}}</td>
                  </ng-container>
        
                  <ng-container matColumnDef="CUSTOMER DETAILS">
                      <th mat-header-cell *matHeaderCellDef>
                          <span>CUSTOMER DETAILS</span>
                      </th>
                      
                      <td mat-cell *matCellDef="let request">
                        <!-- {{request.customerName}},{{request.customerEmailId}},{{request.customerAddress.city}}, {{request.customerAddress.country}} -->
                        {{request.customerAddress.doorNoAndStreet}}
                        {{request.customerAddress.city}}
                        {{request.customerAddress.state}}
                        {{request.customerAddress.pincode}}
                        {{request.customerAddress.landmark}},
                        {{request.customerAddress.country}},
                        {{request.customerPhoneNumber}}
                    
                    </td>
                      <!-- <td mat-cell *matCellDef="let request">{{request.customerAddress.country}}</td> -->
                  </ng-container>
        
                  <ng-container matColumnDef="ORDER DETAILS">
                      <th mat-header-cell *matHeaderCellDef>
                          <span>ORDER DETAILS</span>
        
                      </th>
                      <td mat-cell *matCellDef="let request">{{request.orders[0].productId.productName}}</td>
                  </ng-container>
                  <ng-container matColumnDef="ORDER STATUS">
                      <th mat-header-cell *matHeaderCellDef>
                          <span>ORDER STATUS</span>
        
                      </th>
                      <td mat-cell *matCellDef="let request">{{request.orderStatus}}</td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay" ></tr>
                  <tr mat-row *matRowDef="let request; columns: columnsToDisplay" ></tr>
        
              </table>
          </div>
</div>