<div class="container">
    <div class="card-title">
        <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;<h2>{{'Coupons'| uppercase}} - Add {{'Coupon'| uppercase}}</h2> -->
        <i class="fa fa-arrow-left" style="font-size:20px;cursor: pointer;"
            routerLink="/marketing/list"></i>&nbsp;&nbsp;
        <h2 style="padding:0px !important ;margin:0px !important;font-weight: 600">{{'Marketing'| uppercase}}
            (Promotional Campaign)</h2>
    </div>
    <div class="card">
        <form [formGroup]="form">
            <div class="row">
                <div class="section-b col-md-12">
                    <mat-label>Campaign Title <span class="required">*</span></mat-label>
                    <input class="input" type="text" name="Search" matInput formControlName="campanignTitle"
                        maxlength="50">
                    <mat-hint class="hintalign">{{form.get('campanignTitle').value?.length || 0}}/50
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('campanignTitle')?.errors?.required">{{'Campaign Name is required'}}</mat-error>
                </div>
            </div>
            <div class="row">
                <div class="section-b col">
                    <mat-label>Your Content <span class="required">*</span></mat-label>
                    <textarea class="input" matInput rows="3" cols="3" formControlName="yourContent" maxlength="250"></textarea>
                    <mat-hint class="hintalign">{{form.get('yourContent').value?.length || 0}}/250
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('yourContent')?.errors?.required">{{'Type is required'}}
                    </mat-error>
                </div>
                <div class="section-b file-upload col">
                  <mat-label>Add Media <span class="required">*</span></mat-label>
                  <div class="file-input-container">
                    <input class="file-input" id="file-upload" accept="image/png,image/jpeg" type="file" name="file"  (change)="onChange($event)">
                    <input class=" file-name-input"  type="text" formControlName="addMedia" [value]="selectedFileName" readonly>
                    <!-- <button class="file-select-button" (click)="onSelectFileClick()">Select File</button> -->
                    <label for="file-upload" class="file-select-button">
                        <mat-icon style="color:#0E1F53">upload</mat-icon>
                      </label>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="section-b col">
                    <mat-label>Target Customer<span class="required">*</span></mat-label>
                    <mat-select formControlName="targetCustomer" multiple>
                        <mat-option *ngFor="let row of targetCustomer " [value]="row.value">{{row.label}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && form.get('targetCustomer')?.errors?.required">{{'Customer target is required'}}
                    </mat-error>
                </div>
                <div class="section-b col">
                    <mat-label>Send Via <span class="required">*</span></mat-label>
                    <mat-select formControlName="sendVia" multiple>
                        <mat-option *ngFor="let row of sendVia " [value]="row.value">{{row.label}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && form.get('sendVia')?.errors?.required">{{'sendVia is required'}}
                    </mat-error>
                </div>
            </div>
            <div class="disflex">
                <button mat-flat-button color="warn" (click)="discard()">{{'Discard' | uppercase}}</button>
                <button mat-flat-button color="primary" type="submit" (click)="saveCampaign()" *ngIf="!edit">{{'Save' |
                    uppercase}}</button>
                    <button mat-flat-button color="primary" type="submit" (click)="saveCampaign()" *ngIf="edit">{{'Update' |
                        uppercase}}</button>
            </div>
        </form>
    </div>
</div>