<app-splash-screen #splash *ngIf="showHead && hide"></app-splash-screen>
<ng-container *ngIf="showHead && !hide">
    <app-sidenav (onToogleSideNav)="onTogglesideNav($event)"></app-sidenav>
    <app-headers [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-headers>
    <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body> 
</ng-container>
<ng-container  *ngIf="!showHead">
<app-login></app-login>
<!-- your.component.html -->
<app-stylist-performance></app-stylist-performance>

</ng-container>
