<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card-stat" style="background: #e9cfe2;">
                <span class="title">{{totalCustomer | number:'1.0'}}</span>
                <div class="flex-bot">
                    <span class="rate" >{{'Total Customer'}}</span>&nbsp;<span>| impression -
                        10 %</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-stat" style="background:#b1ebf7 ;">
                <span class="title">{{activeCustomer |number:'1.0'}}</span>
                <div class="flex-bot">
                    <span class="rate">{{'Active Customer'}}</span>&nbsp;<span>| impression -
                        10 %</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-stat" style="background:#b2e4d7 ;">
                <span class="title">{{newCustomer | number:'1.0'}}</span>
                <div class="flex-bot">
                    <span class="rate">{{'New Customer'}}</span>&nbsp;<span>| impression -
                        10 %</span>

                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row" style="display:flex;flex-direction: row;align-items: center;">
            <div class="section-b col-md-6">
                <input class="input m-3" (keyup)="applyFilter($event.target.value)" type="text" name="Search" placeholder="Search...">
            </div>
            <div class="col-md-6" style="display:flex ;justify-content:flex-end">
                <form>
                    <mat-form-field appearance="outline">
                        <mat-label>Select Customer</mat-label>
                        <mat-select multiple [(value)]="selectedValue" (selectionChange)="applyTypeFilter()">
                            <mat-option *ngFor="let row of types" [value]="row">{{row}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                
            </div>
        </div>
    </div> 
    <div class="card">
        <div class="table-container">
            <table mat-table class="table" matSort [dataSource]="dataSource">
                <ng-container matColumnDef="index">
                    <th class="first" mat-header-cell *matHeaderCellDef>
                        <span>S.no</span>
                    </th>
                    <td mat-cell *matCellDef="let request;let i = index;">{{i+1}}</td>
                  </ng-container>
                  <ng-container matColumnDef="id">
                    <th class="first" mat-header-cell *matHeaderCellDef>
                        <span>Cust ID</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request?._id}}</td>
                  </ng-container>
                <ng-container matColumnDef="name">
                    <th class="first" mat-header-cell *matHeaderCellDef>
                        <span>Cust Name</span>
    
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.firstName | titlecase}} {{request.lastName | titlecase}}</td>
                </ng-container>
    
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>Email ID</span>
    
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.email}}</td>
                </ng-container>
    
                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>phoneNumber</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.phoneNumber}}</td>
                </ng-container>
    
               
                <ng-container matColumnDef="total_value">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>Total Purchased Value</span>
    
                    </th>
                    <td mat-cell *matCellDef="let request"></td>
                </ng-container>
               
                <ng-container matColumnDef="visit">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>Visit Count</span>
    
                    </th>
                    <td mat-cell *matCellDef="let request"></td>
                </ng-container>
    
                <ng-container matColumnDef="action">
                    <th class="last" mat-header-cell *matHeaderCellDef>
                        <span>Action</span>
                    </th>
                    <td mat-cell *matCellDef="let request">
                            <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="Delete" (click)="delete(request._id)">delete</mat-icon>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let request; columns: columnsToDisplay;let i = index"></tr>
    
            </table>
            <div class="spinner-container" *ngIf="dataSource.data.length ===0 && !noData">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
            <div class="no_data" *ngIf="dataSource.data.length ===0 && noData">
                <p>{{'No data available'}}</p>
             </div>
        </div>
        
    </div>
</div>