<div class="container">
  <div class="card-title">
    <i class="fa fa-arrow-left" style="font-size:20px;cursor: pointer;" routerLink="/inventory/list"></i>&nbsp;&nbsp;
    <h2 style="padding:0px !important ;margin:0px !important;font-weight: 600">{{'Inventory'| uppercase}} - Add
      {{'Inventory'| uppercase}}</h2>
  </div>
  <div class="card">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-4">
          <h4 style="padding:0px !important ;margin:0px !important;font-weight: 600">
            {{'Product Image'}}</h4>
          <div>
            <div id="images">
              <div id="main-img-holder">
                <img id="main-img" [src]="mainImageSrc" alt="main-img" style="width:'340px';height:300px"
                  *ngIf="mainImageSrc && !videoSelect " />
                <video id="main-video" style="width:'299px';height:300px" [src]="video" *ngIf="video && videoSelect"
                  controls></video>
              </div>
              <div style="display:flex;flex-direction:row;width:100%;gap: 10px;">
                <div *ngFor="let image of images">
                  <img class="sub-images" [src]="image" style="width:'50px';height:50px" alt="sub-img"
                    (click)="selectImage(image)" />
                  <i class="fa fa-times-circle"  aria-hidden="true" style="position: relative;
                      right:3px;
                      bottom: 2.7rem;" *ngIf="!view" (click)="disable ? '' :removeImage(images.indexOf(image))"></i>
                </div>
                <span *ngIf="video">
                  <video id="main-video" style="width:'52px';height:50px" [src]="video"
                    (click)="selectVideo(video)"></video><i class="fa fa-times-circle" *ngIf="!view" aria-hidden="true" style="position: relative;
                     right:3px;
                     bottom: 2.7rem;" (click)="disable ? '' :removeVideo()"></i></span>
              </div>
              <div id="img-catalogue">
                <!-- *ngIf="images.length < 4 && uploadEnabled" -->
                <div class="image-upload" *ngIf="images?.length < 4">
                  <label for="image-upload-input">
                   <span class="cursor-pointer"><i class="fa fa-upload fa-2x" ></i></span>
                    <input [disabled]="disable" type="file" accept=".jpg, .jpeg, .png, .mp4"  multiple (change)="onFileChange($event)" #imageUploadInput
                      id="image-upload-input" style="display:none">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <h4 style="padding:0px !important ;margin:0px !important;font-weight: 600">{{'Product Detail'}}</h4>
          <div class="row">
            <div class="section-b col-md-12" >
              <mat-label>Heading<span class="required">*</span></mat-label>
              <mat-select *ngIf="disable === true && productId === null"  style="margin-left: -4px !important;" formControlName="productName" [(ngModel)]="selectedFood" (ngModelChange)="onFoodSelection()">
                <mat-option  *ngFor="let row of productList" [value]="row">{{row.productName}}</mat-option>
              </mat-select>
              <input *ngIf="disable === false || productId " [disabled]="((edit || view) && disable)" class="input"  style="margin-left: -4px !important;" formControlName="productName"
              matInput  required>
            </div>
          </div>
          <div class="row">
            <div class="section-b col">
              <mat-label>Discount Price<span class="required">*</span></mat-label>
              <input [disabled]='disable' class="input" oninput="this.value=this.value.replace(/[^0-9]/g,'');" type="text" name="Search"
                matInput formControlName="discountPrice" maxlength="50" required>
              <mat-hint class="hintalign">{{form.get('discountPrice').value?.length || 0}}/50
              </mat-hint>
              <mat-error *ngIf="submitted && form.get('discountPrice')?.errors?.required">{{'product name is required'}}</mat-error>
            </div>
            <div class="section-b col">
              <mat-label>Compared Price<span class="required">*</span></mat-label>
              <input [disabled]="disable" class="input" type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" name="Search"
                matInput formControlName="actualPrice" maxlength="50" required>
              <mat-hint class="hintalign">{{form.get('actualPrice').value?.length || 0}}/50
              </mat-hint>
              <mat-error *ngIf="submitted && form.get('actualPrice')?.errors?.required">{{'Actual price is required'}}</mat-error>
            </div>
          </div>
          <div class="row">
            <div class="section-b col">
              <mat-label>Description <span class="required">*</span></mat-label>
              <textarea style="font-family: unset;"  [disabled]="disable" class="input" matInput rows="3" cols="3" formControlName="description"
                maxlength="250"></textarea>
              <mat-hint class="hintalign">{{form.get('description').value?.length || 0}}/250
              </mat-hint>
              <mat-error *ngIf="submitted && form.get('description')?.errors?.required">{{'Description is required'}}
              </mat-error>
            </div>
          </div>
          <div class="row">
            <div class="section-b col">
              <mat-label>Product Details <span class="required">*</span></mat-label>
              <textarea style="font-family: unset;"  [disabled]="disable" class="input" matInput rows="3" cols="3" formControlName="productDetails"
                maxlength="250"></textarea>
              <mat-hint class="hintalign">{{form.get('productDetails').value?.length || 0}}/250
              </mat-hint>
              <mat-error *ngIf="submitted && form.get('productDetails')?.errors?.required">{{'Product Details is required'}}
              </mat-error>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="section-b col">
          <mat-label>ID<span class="required">*</span></mat-label>
          <input [disabled]="disable" class="input" type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" name="Search" matInput
            formControlName="referenceId" maxlength="50" required>
          <mat-hint class="hintalign">{{form.get('referenceId').value?.length || 0}}/50
          </mat-hint>
          <mat-error *ngIf="submitted && form.get('referenceId')?.errors?.required">{{'Reference ID is required'}}</mat-error>
        </div>
        <div class="section-b col">
          <mat-label>Quantity<span class="required">*</span></mat-label>
          <input [disabled]="disable" class="input" type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" name="Search" matInput
            formControlName="quantity" maxlength="50" required>
          <mat-hint class="hintalign">{{form.get('quantity').value?.length || 0}}/50
          </mat-hint>
          <mat-error *ngIf="submitted && form.get('quantity')?.errors?.required">{{'Quantity value is required'}}</mat-error>
        </div>
        <div class="section-b col">
          <mat-label>Gender <span class="required">*</span></mat-label>
          <mat-select  [disabled]="disable" formControlName="for" multiple>
            <mat-option *ngFor="let row of types" [value]="row">{{row}}</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && form.get('for')?.errors?.required">{{'Gender is required'}}
          </mat-error>
        </div>
        <div class="section-b col">
          <mat-label>Category<span class="required">*</span></mat-label>
          <mat-select [disabled]="disable" formControlName="category" multiple>
            <mat-option *ngFor="let row of category" [value]="row">{{row}}</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && form.get('category')?.errors?.required">{{'Category is required'}}</mat-error>
        </div>
        <div class="section-b col">
          <mat-label>Sub Category<span class="required">*</span></mat-label>
          <mat-select [disabled]="disable" formControlName="subCategory" multiple>
            <mat-option *ngFor="let row of subCategory" [value]="row">{{row}}</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && form.get('subCategory')?.errors?.required">{{'SubCategory is required'}}</mat-error>
        </div>
        <div class="section-b col">
          <mat-label>Product Type<span class="required">*</span></mat-label>
          <mat-select [disabled]="disable" formControlName="type" multiple>
            <mat-option *ngFor="let row of type" [value]="row">{{row}}</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && form.get('type')?.errors?.required">{{'Type is required'}}</mat-error>
        </div>
      </div>
      <div class="row">
        <div class="section-b col">
          <mat-label>Brand<span class="required">*</span></mat-label>
          <mat-select  [disabled]="disable" formControlName="brand" multiple>
            <mat-option *ngFor="let row of brand" [value]="row">{{row}}</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && form.get('brand')?.errors?.required">{{'Brand is required'}}</mat-error>
        </div>
        <div class="section-b col">
          <mat-label>Formulation<span class="required">*</span></mat-label>
          <mat-select [disabled]="disable" formControlName="formulation" multiple>
            <mat-option *ngFor="let row of formulation" [value]="row">{{row}}</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && form.get('formulation')?.errors?.required">{{'Formulation is required'}}</mat-error>
         </div>
        <div class="section-b col">
          <mat-label>Average customer rating<span class="required">*</span></mat-label>
          <mat-select [disabled]="disable" formControlName="avgCustomerRating" multiple>
            <mat-option *ngFor="let row of avgCustomerRating" [value]="row">{{row}}</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && form.get('avgCustomerRating')?.errors?.required">{{'Rating is required'}}</mat-error>
         </div>
         <div class="section-b col">
          <mat-label>Collections<span class="required">*</span></mat-label>
          <mat-select [disabled]="disable" formControlName="collections" multiple>
            <mat-option *ngFor="let row of collections" [value]="row">{{row}}</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && form.get('collections')?.errors?.required">{{'Collection is required'}}</mat-error>
         </div>
        </div>
        <div class="row displayflx">
          <div class="col-4">
            <mat-slide-toggle [disabled]="disable" formControlName="gift">Gift</mat-slide-toggle>
          </div>
          <div class="col-4">
            <mat-slide-toggle [disabled]="disable" formControlName="personalised">Personalised</mat-slide-toggle>
          </div>
          <div class="col-4">
            <mat-slide-toggle [disabled]="disable" formControlName="latest">Latest</mat-slide-toggle>
          </div>

        </div>
      <div class="disflex mt-5" *ngIf="!view">
        <button mat-flat-button color="warn" (click)="discard()">{{'Discard' | uppercase}}</button>
        <button mat-flat-button color="primary" type="submit" (click)="save()" *ngIf="!edit" [disabled]="isSave">{{'Save' | uppercase}}</button>
        <button mat-flat-button color="primary" type="submit" (click)="save()" *ngIf="edit">{{'Update' |
          uppercase}}</button>
      </div>
    </form>
  </div>
</div>