<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
    <div class="logo-container">
        <label style="    margin-left: auto;
        margin-right: auto;
        color: white;
        font-family: Roboto, sans-serif !important;
        font-size: 14px;
        font-weight: 400;" *ngIf="collapsed">{{logDet.store_name}}</label>
        <!-- <img class="logo" src="assets\1.png" (click)="toggleCollapse()"> -->
        <!-- <img class="logo" src="assets\1.png" (click)="toggleCollapse()">
        <div class="logo-text" *ngIf="collapsed">Bocxy Glam</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <mat-icon class="iconsmat">menu_open</mat-icon>
        </button> -->
        <button class="btn-close" (click)="toggleCollapse()" [ngClass]="!collapsed?'menu_margin':'' ">
            <mat-icon class="iconsmat">menu_open</mat-icon>
        </button>
    </div>
    <hr>
    <!-- <div class="sidenav-nav-userName">
        <img class="logo" src="assets\image 5.svg" (click)="toggleCollapse()">
        <div class="logo-text" *ngIf="collapsed">AURA SILVER</div>
    </div> -->
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">
                <mat-icon class="sidenav-link-icon" matTooltip="{{!collapsed? data.label :''}}"
                    matTooltipPosition="right">{{data.icon}}</mat-icon>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>