<!-- <div class="page-container navbar-fixed-top">
    <header>
        <div>
            <button mat-button class="menu-button" (click)="sidenav.toggle()">
                <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
            </button>
            <a routerLink="/">
                <span class="app-title">
                    <img src="assets\image 5.svg">&nbsp;AURA SILVER</span>
            </a>
        </div>
        <div class="current-time">
            {{today | date:'fullDate'}} {{today | date:'h:mm:ss a'}}
        </div>
        <div class="section-b">
            <input class="input" type="text" name="Search" placeholder="&#61442; Search"
                style="font-family:Arial, FontAwesome">
        </div>
        <div class="icons">
            <i class="fa fa-bell" aria-hidden="true"></i>&nbsp;
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </div>
    </header>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
            <a mat-button routerLink="/page1"><img src="assets\bar_chart.svg">Analytics</a>
            <a mat-button routerLink="/dashboard/inventory">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1 18.3555V6.98775C0.716667 6.80331 0.479333 6.56858 0.288 6.28355C0.0960001 5.99851 0 5.66318 0 5.27755V2.25955C0 1.70626 0.196 1.23243 0.588 0.838079C0.979333 0.444399 1.45 0.247559 2 0.247559H18C18.55 0.247559 19.021 0.444399 19.413 0.838079C19.8043 1.23243 20 1.70626 20 2.25955V5.27755C20 5.66318 19.904 5.99851 19.712 6.28355C19.5207 6.56858 19.2833 6.80331 19 6.98775V18.3555C19 18.9088 18.8043 19.3826 18.413 19.777C18.021 20.1707 17.55 20.3675 17 20.3675H3C2.45 20.3675 1.979 20.1707 1.587 19.777C1.19567 19.3826 1 18.9088 1 18.3555ZM3 7.28955V18.3555H17V7.28955H3ZM18 5.27755V2.25955H2V5.27755H18ZM7 12.3195H13V10.3075H7V12.3195Z"
                        fill="#10B981 " />
                </svg>
                Inventory
            </a>
            <a mat-button routerLink="/page5"><img src="assets\Vector.svg">Staff</a>
            <a mat-button routerLink="/page4"><img src="assets\payments.svg">Billing</a>
            <a mat-button routerLink="/dashboard/order">
              
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 7.57223L9 6.56623L11 7.57223V2.79373H7V7.57223ZM4 14.8657V12.8537H9V14.8657H4ZM2 18.8897C1.45 18.8897 0.979 18.6929 0.587 18.2992C0.195667 17.9048 0 17.431 0 16.8777V2.79373C0 2.24044 0.195667 1.76661 0.587 1.37226C0.979 0.978578 1.45 0.781738 2 0.781738H16C16.55 0.781738 17.021 0.978578 17.413 1.37226C17.8043 1.76661 18 2.24044 18 2.79373V16.8777C18 17.431 17.8043 17.9048 17.413 18.2992C17.021 18.6929 16.55 18.8897 16 18.8897H2ZM2 16.8777H16V2.79373H13V10.8417L9 8.82972L5 10.8417V2.79373H2V16.8777Z" 
                    fill="#D1D5DB"/>
                </svg>
                Orders</a>

            <a mat-button routerLink="/page2"><img src="assets\diversity_3.svg">Customers</a>
            <a mat-button routerLink="/page3"><img src="assets\campaign.svg">Marketing</a>


            <a mat-button routerLink="/page5"><img src="assets\language.svg">Social Media</a>
        </mat-sidenav>
        <mat-sidenav-content [class.expand]="isMenuOpen">
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <div>

        <mat-sidenav #sidenav autoFocus="true" mode="over" [(opened)]="isMenuOpen" class="sidenav"
            (click)="onSidenavClick()">
        </mat-sidenav>
    </div>
</div>
 -->
<!-- <app-sidenav (onToogleSideNav)="onTogglesideNav($event)"></app-sidenav> -->