  .section-b .input {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #f3f3f9;
    width: 100%;
    line-height: 24px;
  }

  .no_data{
    font-size: 16px;
    font-weight: 500;
    margin: 12px 0px 0px 12px;
}

  .add-coupon {
    font-size: 16px;

    a {
      font-weight: 500 !important;
      color: #0E1F53 !important;
      text-decoration: none !important;
    }
  }

  .card {
    background-color: #fff;
    height: 90%;
    border-radius: 10px;
    // border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    margin: 10px;

  }

  .disFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .search-container {
      position: relative;

      .normal-search {
        .search {
          border: none;
          height: 2.375rem;
          padding-left: 2.5rem;
          padding-right: 1.25rem;
          background-color: #f3f3f9;
          box-shadow: none;
          border-radius: 1.875rem;
          outline: 0;
        }

        .search-icon {
          position: absolute;
          font-size: 1rem;
          line-height: 2.375rem;
          left: 0.813rem;
          top: 0;
          color: #74788d;

        }
      }
    }
  }


  .mat-table {
    width: 100%;
  }

  .displayicon {
    display: flex;
  }

  // .first{
  //     border-bottom-left-radius: 30px;
  //     border-top-left-radius: 30px;
  // }
  // .last{
  //     border-bottom-right-radius: 30px;
  //     border-top-right-radius: 30px;

  // }
  .flexRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 35%;
    justify-content: center;
  }

  .activeWhatsappIcon {
    background-color: green;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
  }

  .activeSmsIcon {
    background-color: rgb(220, 220, 220);
    color: rgb(42, 42, 132);
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
  }

  .activeEmailIcon {
    background-color: rgb(250, 3, 3);
    color: #fff;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
  }

  .title-marketing {
    width: 1324px;
    height: 44px;
    left: 334px;
    top: 129px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 137.5%;
    color: #271111;
  }

  .activeMaleIcon {
    background-color: #41a2f7;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
  }

  .activeFemaleIcon {
    background-color:#f98fed;
    color: #000;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
  }

  .activeCustomerIcon {
    background-color: rgb(220, 220, 220);
    color: #000;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
  }
