<div class="container">
    <div class="card-title">
        <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;<h2>{{'Coupons'| uppercase}} - Add {{'Coupon'| uppercase}}</h2> -->
        <i class="fa fa-arrow-left" style="font-size:20px;cursor: pointer;" routerLink="/store/list"></i>&nbsp;&nbsp;
        <h2 style="padding:0px !important ;margin:0px !important;font-weight: 600">{{'Stores'| uppercase}} - Add
            {{'Store'| uppercase}}</h2>
    </div>
    <div class="card">
        <form [formGroup]="form">
            <div class="row">
                <div class="section-b col-md-12">
                    <mat-label>Store Name <span class="required">*</span></mat-label>
                    <input class="input" type="text" name="Search" matInput formControlName="store_name" maxlength="50">
                    <mat-hint class="hintalign">{{form.get('store_name').value?.length || 0}}/50
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('store_name')?.errors?.required">{{'Store Name is
                        required'}}</mat-error>
                </div>
                <div class="section-b col-md-12">
                    <mat-label>Email<span class="required">*</span></mat-label>
                    <input class="input" type="text" name="Search" matInput formControlName="email" maxlength="500">
                    <mat-hint class="hintalign">{{form.get('email').value?.length || 0}}/500
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('email')?.errors?.required">{{'Email is
                        required'}}</mat-error>
                </div>
            </div>

            <div class="row">
                <div class="section-b col">
                    <mat-label>Phone Number <span class="required">*</span></mat-label>
                    <input class="input" oninput="this.value=this.value.replace(/[^0-9]/g,'');" type="text"
                        name="Search" matInput formControlName="phone_no" maxlength="50">
                    <mat-hint class="hintalign">{{form.get('phone_no').value?.length || 0}}/50
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('phone_no')?.errors?.required">{{'Phone Number is
                        required'}}</mat-error>
                </div>
                <div class="section-b col">
                    <mat-label for="date">Co-ordinate (Ex:111.0013,11.234) <span class="required">*</span></mat-label>
                    <input style="padding: 10px;border: none !important;
                    border-radius: 10px !important;
                    background: #f3f3f9 !important;
                    width: 100% !important;
                    line-height: 20px !important;
                    margin-top: 10px !important;
                    margin-bottom: 10px !important;" id="autocomplete_search" matInput formControlName="co_ordinates"
                        name="autocomplete_search" type="text" class="form-control" placeholder="Co_ordinates" />
                    <input type="hidden" id="lat" name="lat" formControlName="lat">
                    <input type="hidden" id="long" name="long" formControlName="long">
                    <mat-error *ngIf="submitted && form.get('co_ordinates')?.errors?.required">{{'Co-ordinate is
                        required'}}</mat-error>
                </div>
                <div class="section-b col">
                    <mat-label>Password <span class="required">*</span></mat-label>
                    <input class="input" type="text" name="Search" matInput formControlName="password" maxlength="50">
                    <mat-hint class="hintalign">{{form.get('password').value?.length || 0}}/50
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('password')?.errors?.required">{{'Password is
                        required'}}</mat-error>
                </div>
            </div>
            <div class="row">

                <div class="section-b col-6">
                    <mat-label>Address <span class="required">*</span></mat-label>
                    <textarea style="font-family: unset;" class="input" matInput rows="3" cols="3"
                        formControlName="address" maxlength="250"></textarea>
                    <mat-hint class="hintalign">{{form.get('address').value?.length || 0}}/250
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('address')?.errors?.required">{{'Type is required'}}
                    </mat-error>
                </div>
            </div>

            <div class="disflex" *ngIf="!view">
                <button mat-flat-button color="warn" (click)="discard()">{{'Discard' | uppercase}}</button>
                <button mat-flat-button color="primary" type="submit" (click)="saveCoupons()" *ngIf="!edit">{{'Save' |
                    uppercase}}</button>
                <button mat-flat-button color="primary" type="submit" (click)="saveCoupons()" *ngIf="edit">{{'Update' |
                    uppercase}}</button>
            </div>
        </form>
    </div>
</div>